* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
:root {
  --orange: #f3603b;
  --blue: #242d52;
  --grey: #b3b2b7;
  --white: #ffffff;
}
body {
  font-family: "Be Vietnam Pro", sans-serif;
  font-size: 62.5%;
}
h1 {
  color: var(--blue);
  font-size: 2rem;
}
h1::before {
  color: var(--orange);
  content: "\3a\3a";
  display: inline-block;
  font: var(--fa-font-solid);
}
h2,
h5 {
  color: var(--blue);
  font-size: 2.3rem;
  padding: 20px 30px;
  text-align: center;
  width: 400px;
}
h3 {
  color: var(--blue);
  padding: 25px 10px 10px 10px;
  font-size: 2rem;
  text-align: center;
}
h4 {
  border-radius: 15px;
  color: var(--blue);
  font-size: 0.9rem;
  padding: 5px 5px 5px 5px;
}
h5 {
  color: var(--white);
}
h5::before {
  color: var(--orange);
  content: "\3a\3a";
  display: inline-block;
  font: var(--fa-font-solid);
}
p {
  color: var(--grey);
  font-size: 1rem;
  font-weight: 540;
}
.parrafo_black p {
  color: black;
  font-weight: bold;
}
button {
  align-items: center;
  background-color: var(--orange);
  border-radius: 25px;
  border: var(--orange);
  color: var(--white);
  display: flex;
  height: 44px;
  justify-content: center;
  width: 134px;
}
button:hover {
  background-color: var(--blue);
  color: var(--orange);
}
/* HEADER */
header div {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  height: 50px;
  padding: 50px;
  width: 100%;
}
.categorias_header {
  align-items: center;
  display: flex;
  flex-direction: row;
  gap: 15px;
}
header i {
  color: var(--blue);
  display: flex;
  align-self: center;
  font-size: 2rem;
}
i:active {
  color: var(--orange);
}
header a {
  font-size: 1.1rem;
  color: var(--blue);
}
/* PRIMERA SECCION: GRAFICOS */
.section_graficos article {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.section_graficos article p {
  width: 375px;
  text-align: justify;
  padding: 0px 50px;
}
.section__texto {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 30px;
  text-align: left;
  width: 375px;
}
.contenedor_titulos {
  align-items: center;
  background-color: #fff0ec;
  background-size: contain;
  border-radius: 25px;
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 350px;
}
.numeros {
  background-color: var(--orange);
  border-radius: 25px;
  color: white;
  font-size: 0.9rem;
  padding: 10px 20px;
  font-weight: bold;
}
.titulo {
  font-size: 0.9rem;
  color: #242d52;
  font-weight: bold;
}
/* TERCERA SECCION: TARJETAS */
.contenedor_tarjetas {
  display: flex;
  flex-direction: column;
  gap: 100px;
  margin: 50px 20px;
}
.caja__tarjeta {
  align-items: center;
  background-color: #fafafa;
  border-radius: 20px;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 40px 0px 30px 0px;
  position: relative;
  text-align: center;
}
.caja__tarjeta2 {
  align-items: center;
  background-color: #fafafa;
  border-radius: 20px;
  display: flex;
  font-size: 1rem;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  padding: 40px 0px 30px 0px;
  position: relative;
  text-align: center;
}
section article div img {
  position: absolute;
  height: 70px;
  top: -40px;
  width: 70px;
}
/* CUARTA SECCION: ANTES DEL FOOTER */
.antes_del_footer {
  background-color: var(--orange);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 250px;
  width: 100%;
}
section div button {
  background-color: var(--white);
  color: var(--orange);
}
div h2 {
  color: var(--white);
}
.boton {
  align-items: center;
  display: flex;
  justify-content: center;
  margin: 30px;
  padding: 15px;
}
/* FOOTER */
footer {
  display: flex;
  flex-direction: column-reverse;
  background-color: var(--blue);
  height: 430px;
  width: 100%;
}
footer p {
  font-size: 0.9rem;
  text-align: center;
}

.iconos__redes {
  align-items: center;
  color: var(--white);
  display: flex;
  font-size: 2rem;
  flex-direction: column;
  justify-content: space-around;
  padding: 0px 10px;
}
a {
  color: var(--white);
  text-decoration: none;
}
a:hover {
  color: var(--orange);
}
.categorias_footer {
  color: var(--white);
  display: flex;
  font-size: 1rem;
  flex-direction: row;
  gap: 50px;
  justify-content: space-evenly;
  line-height: 30px;
  padding: 25px 5px 25px 5px;
}
.formulario {
  align-items: center;
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
}
form {
  display: flex;
  flex-direction: row;
  gap: 0.5rem;
}
input {
  border-radius: 50px;
  border: var(--white);
  height: 50px;
  padding-left: 10px;
  width: 300px;
}

@media screen and (min-width: 1440px) {
  .fa-solid.fa-align-justify {
    display: none;
  }
  .section_graficos {
    display: flex;
    flex-direction: row-reverse;
  }
  .section_texto {
    display: flex;
    flex-direction: row;
    gap: 35px;
    justify-content: space-evenly;
  }
  .contenedor_tarjetas,
  .antes_del_footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  footer {
    align-items: center;
    background-color: #1e1e26;
    display: flex;
    flex-direction: row;
    height: 350px;
    justify-content: space-around;
    gap: 100px;
  }
  .categorias_footer {
    gap: 200px;
  }
  .iconos__redes {
    display: flex;
    flex-direction: column;
  }
  footer div h5 {
    position: relative;
    top: -25px;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
}
@media screen and (min-width: 900px) {
  h1 {
    font-size: 2.2rem;
  }
  .fa-solid.fa-align-justify {
    display: none;
  }
  header div {
    gap: 30px;
  }
  .section_graficos {
    display: flex;
    flex-direction: row-reverse;
  }
  .section_graficos article img {
    width: 500px;
  }
  .section_texto {
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  .contenedor_tarjetas {
    display: flex;
    flex-direction: row;
  }
  .antes_del_footer {
    align-items: center;
    display: flex;
    flex-direction: row;
    gap: 150px;
  }
  footer {
    align-items: center;
    background-color: #1e1e26;
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 300px;
  }
  .iconos__redes {
    display: flex;
    flex-direction: column;
    padding: 0;
    width: 300px;
  }
  footer div h5 {
    position: relative;
    top: -25px;
  }
  .iconos__redes div p {
    display: none;
  }
  .formulario {
    display: flex;
    flex-direction: column;
    gap: 2.5rem;
  }
  input {
    width: 190px;
  }
  form div button {
    height: 50px;
    width: 90px;
  }
}
@media screen and (max-width: 375px) {
  header div a,
  header div button,
  .caja__tarjeta2 {
    display: none;
  }
  header div {
    gap: 10px;
  }
  .formulario {
    display: flex;
    flex-direction: column;
  }
  .formulario div p {
    display: none;
  }
  input {
    height: 45px;
    width: 200px;
  }
  .iconos__redes {
    display: flex;
    flex-direction: column-reverse;
    gap: 10px;
    padding-bottom: 20px;
  }
  .antes_del_footer {
    display: flex;
    align-items: center;
  }
}
