*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;0,700;1,100;1,400;1,700&display=swap');

body{
    background-color: white;
    font-family: 'Roboto', sans-serif;
}
.contenedor{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
}
.box{
    background-color: #F3F3F3;
    color: black;
    width: 300px;
    height: 520px;
    margin: 5px;
    border-bottom: 1px #C5C5C5 solid;
}
header {
    background-color: #1CD1B0;
    height: 50px;
    color: black;
    font-weight: 500;
    font-size: large;
}
.textoheader{
    position: relative;
    bottom: -15px;
    right: -15px;
}
h1{
    background-color: #00669F;
    height: 100px;
    color: black;
    font-weight: lighter;
}
.textoh1{
    position: relative;
    bottom: -30px;
    right: -15px;    
}
.space{
    height: 150px;
}
.portada{
    background-image: url("/img/portadabatman.png");
    background-repeat: no-repeat;
    height: 180px;
    position: relative;
    top: -19px;
}
.portada2{
    background-image: url("/img/portadaharley.png");
    background-repeat: no-repeat;
    height: 180px;
    position: relative;
    top: -19px;
}
.icon img {
    border-radius: 100%;
}
.icon{
    text-align: center;
    position: relative;
    top: -80px;
}
h2{
    text-align: center;
    position: relative;
    top: -30px;
}
.text{
    position: relative;
    text-align: left;
    top: -30px;
}
.boton{
    background-color: #00669F;
    color: white;
    height: 50px;
    width: 120px;
    text-align: center;
    position: relative;
    right: -90px;    
}
span{
    position: relative;
    bottom: -17px;
}
footer{
    background-color: #00669F;
    color: white;
    height: 50px;
}
.footertext{
    position: relative;
    bottom: -15px;
    right: -10px;
}